{% extends "layouts.html" %}

{% block content %}
{% include "_messages.html" %}

<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 class="text-center p-2">Adicionar Produtos</h2>
    {% from "_formhelpers.html" import render_field %}
    <form action="" method="POST" enctype="multipart/form-data">
      {{ render_field(form.name, class="form-control", placeholder="Nome do Produto") }}
      {{ render_field(form.price, class="form-control", placeholder="Preço do Produto") }}

      <label for="marca">Adicione uma marca</label>
      <select name="marca" id="marca" class="form-control" required>
        <option value="">Selecione uma marca</option>
        {% for marca in marcas %}
        <option value="marca.id">{{marca.name}}</option>
        {% endfor %}
      </select>

      <label for="categoria">Adicione uma categoria</label>
      <select name="categoria" id="categoria" class="form-control" required>
        <option value="">Selecione uma categoria</option>
        {% for categoria in categorias %}
        <option value="categoria.id">{{categoria.name}}</option>
        {% endfor %}
      </select>
      
      {{ render_field(form.colors, class="form-control", placeholder="Cores do Produto") }}
      {{ render_field(form.discount, class="form-control", placeholder="Desconto do Produto") }}
      {{ render_field(form.stock, class="form-control", placeholder="Estoque do Produto") }}
      {{ render_field(form.description, class="form-control", placeholder="Descrição do Produto", rows="10") }}
      
      <div class="container">
        <div class="row">
          <div class="col-md-4">{{ render_field(form.img1, class="form-control") }}</div>
          <div class="col-md-4">{{ render_field(form.img2, class="form-control") }}</div>
          <div class="col-md-4">{{ render_field(form.img3, class="form-control") }}</div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-info mt-4">Cadastrar Produto</button>

    </form>

  </div>
  <div class="col-md-2"></div>
</div>
</div>


{% endblock content %}