{% extends "layouts.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      
      {% include "_messages.html" %}
      {% if escopo == 'updatemarca' %}
      <h2 class="text-center mt-5">Atualizar Marcas</h2>
      <form action="" method="POST">
        <input type="text" name="marca" class="form-control" value="{{content.name}}">
        <input type="submit" value="Atualizar Marca" class="btn btn-success mt-2">
        <a href="{{url_for('marcas')}}" class="btn btn-danger mt-2">Cancelar</a>
      </form>

      {% elif escopo == 'updatecategoria' %}
      <h2 class="text-center mt-5">Atualizar Categorias</h2>
      <form action="" method="POST">
        <input type="text" name="categoria" class="form-control" value="{{content.name}}">
        <input type="submit" value="Atualizar Categoria" class="btn btn-success mt-2"">
        <a href="{{url_for('categorias')}}" class="btn btn-danger mt-2">Cancelar</a>
      </form>
      {% endif %}
      
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock content %}