{% extends 'layoutadmin.html' %}

{% block content %}
{% include '_messages.html' %}

<div class="container mt-3">

  <!-- Início da tabela principal -->
  <table class="table table-sm table-striped">
    <thead>
      <th>Serial</th>
      <th>Nome</th>

      <th></th>
      <th></th>
    </thead>
    <tbody>

      <!-- Se estivermos recebendo "marcas" no escopo da rota: -->
      {% if escopo == 'marcas' %}
      {% for marca in marcas %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{marca.name}}</td>

        <!-- Botão de Edição -->
        <td><a href="{{url_for('updatemarca', id=marca.id)}}" class="btn btn-sm btn-outline-warning">Editar</a></td>

        <!-- Botão de Deletar que faz referência a janela -->
        <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
            data-target="#exampleModal-{{marca.id}}">Deletar</button></td>
      </tr>

      <!-- Janela de confirmação de exclusão  -->
      <div class="modal fade" id="exampleModal-{{marca.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{marca.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span class="text-danger">Deseja realmente deletar essa marca? Isto irá remover todos os produtos
                atrelados junto!</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <form action="{{url_for('deletemarca', id=marca.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}


      <!-- Se estivermos recebendo "categorias" no escopo da rota: -->
      {% elif escopo == 'categorias' %}
      {% for categoria in categorias %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{categoria.name}}</td>

        <!-- Botão de Edição -->
        <td><a href="{{url_for('updatecategoria', id=categoria.id)}}" class="btn btn-sm btn-outline-warning">Editar</a>
        </td>

        <!-- Botão de Deletar que faz referência a janela -->
        <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
            data-target="#exampleModal-{{categoria.id}}">Deletar</button></td>
      </tr>

      <!-- Janela de confirmação de exclusão  -->
      <div class="modal fade" id="exampleModal-{{categoria.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{categoria.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span class="text-danger">Deseja realmente deletar essa categoria? Isto irá remover todos os produtos
                atrelados junto!</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <form action="{{url_for('deletecategoria', id=categoria.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}