{% extends 'layoutadmin.html' %}

{% block content %}
{% include '_messages.html' %}

<div class="container mt-3">
  <table class="table table-sm table-striped">
    <thead>
      <th>Serial</th>
      <th>Produto</th>
      <th>Preco</th>
      <th>Desconto</th>
      <th>Fabricante</th>
      <th>Foto</th>
      <th>Editar</th>
      <th>Deletar</th>
    </thead>
    <tbody>
      {% for produto in produtos %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{produto.name}}</td>
        <td>{{produto.price}}</td>
        <td>{{produto.discount}} %</td>
        <td>{{produto.marca.name}}</td>
        <td><img src="{{url_for('static', filename='images/' + produto.img1)}}" width="80" height="80"></td>
        <td><a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-sm btn-outline-warning">Editar</a></td>

        <!-- Botão de Deletar que faz referência a janela -->
        <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
            data-target="#exampleModal-{{produto.id}}">Deletar</button></td>
      </tr>

      <!-- Janela de confirmação de exclusão  -->
      <div class="modal fade" id="exampleModal-{{produto.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{produto.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span class="text-danger">Deseja realmente deletar esse produto?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}